---
layout: page.njk
---
{%- set minutes = content | readingMinutes %}
<article>
  <h1 class="title">{{ title }}{% if draft %} <span class="pill pill-active"><span class="tag">draft</span></span>{% endif %}</h1>
  <p class="tag meta">
    {{ date | longDate }} · About {{ minutes | plural("minute") }} long
    {%- if updated %} · Updated {{ updated | longDate }}{% endif %}
    {%- if tag %} · {{ tag }}{% endif %}
  </p>
  {{ content | safe }}
</article>
