---
layout: page.njk
title: About
permalink: /about/
---
<h1 class="title">{{ site.author }}</h1>

<p class="epigraph">Traversing life&rsquo;s loss landscape.<br /><cite>&mdash; ML researcher &middot; vim enthusiast</cite></p>

<p>
  I'm Allan, a junior at UCLA studying computational mathematics. I work as an
  undergraduate researcher at BigML, where I explore all things data under
  Professor Baharan Mirzasoleiman. During Winter '25, I was a research intern at
  DatologyAI working on multimodal data curation and reasoning VLMs.
</p>

<p>
  I enjoy working on my distributed training stack, thinking about how to make
  silicon think, reading classical literature, writing poetry, coding in Neovim,
  ricing Linux, and talking to friends (probably my favorite activity).
</p>

<p>
  Feel free to reach out about anything, especially if it's ML related! The
  <a href="/contact/">contact page</a> has the ways to find me, and the
  <a href="/writing/">writing</a> page has a loose collection of thoughts.
</p>
