---
layout: base.njk
pageTitle: ayzml contact
permalink: /contact/
navActive: /contact/
screenLabel: contact
---

<section class="content" id="contact">
  <h2 class="big list-head">Getting in Touch</h2>

  <div class="entry">
    <h3 class="entry__title"><a href="mailto:{{ site.email }}">Email</a></h3>
    <p class="entry__meta">{{ site.email }}</p>
  </div>
  <div class="entry">
    <h3 class="entry__title"><a href="https://github.com/giyushino" target="_blank" rel="noopener">GitHub</a></h3>
    <p class="entry__meta">@giyushino</p>
  </div>
  <div class="entry">
    <h3 class="entry__title"><a href="https://scholar.google.com/citations?hl=en&amp;user=rqpsdzoAAAAJ" target="_blank" rel="noopener">Google Scholar</a></h3>
    <p class="entry__meta">Publications &amp; citations</p>
  </div>
  <div class="entry">
    <h3 class="entry__title"><a href="https://x.com/allanzhangML" target="_blank" rel="noopener">Twitter</a></h3>
    <p class="entry__meta">@allanzhangml</p>
  </div>
</section>
